<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - ToDoApp</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}">
</head>

<body>

    <div class="aboutus-container">
        <h2>About Us</h2>
        <div class="aboutus-info">
            <p>Welcome to ToDoApp! Our mission is to help users manage their tasks efficiently and effectively. In a busy world, we understand the importance of staying organized and keeping track of responsibilities.</p>
            <p>Our app offers a user-friendly interface that allows you to:</p>
            <ul>
                <li>Quickly add and manage tasks.</li>
                <li>Update or Delete the task upon completion</li>
                <li>Access your to-do list from anywhere, anytime.</li>
            </ul>
            <p>We believe that everyone deserves to achieve their goals without feeling overwhelmed. Our objective is to provide a simple yet powerful tool to enhance your productivity and help you make the most of your time.</p>
            <p>Thank you for choosing ToDoApp!</p>
        </div>
        <form action="/" method="get">
            <button type="submit" class="back-btn">Back to Home</button>
        </form>
    </div>

</body>
</html>
