<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/contact.css')}}">
</head>

<body>

    <div class="contact-container">
        <h2>Contact Us</h2>
        <div class="contact-info">
            <label>Email:</label>
            <p>chinmaybodda@gmail.com</p>
            <label>Contact No:</label>
            <p>+91 7820809573</p>
            <label>Owner:</label>
            <p>Chinmay Boddawar</p>
        </div>
        <form action="/" method="get">
            <button type="submit" class="back-btn">Back to Home</button>
        </form>
    </div>

</body>
</html>
